<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467098722729-vj877efnrd8l9c2rjou7te00blq9hc7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467098722729-vj877efnrd8l9c2rjou7te00blq9hc7q</string>
	<key>API_KEY</key>
	<string>AIzaSyAkQDqtludmO2B346UuwAlG8-IzEcgOzsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>467098722729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.inisa</string>
	<key>PROJECT_ID</key>
	<string>qoin-8854b</string>
	<key>STORAGE_BUCKET</key>
	<string>qoin-8854b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467098722729:ios:3be415ab1068a2ac6c64b8</string>
	<key>DATABASE_URL</key>
	<string>https://qoin-8854b.firebaseio.com</string>
</dict>
</plist>